:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eff1ff;

  font-family: "Staatliches", cursive;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  height: 27.9rem;

  background: #8e9aaf;

  width: 100%;

  text-align: center;
}

header img {
  width: 13.7rem;
  height: 13.7rem;

  margin: 3.2rem 0;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.8rem 0;

  background: #cbc0d3;

  font-style: normal;
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.6rem;
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 4rem;
}

main p {
  font-family: "Palanquin", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5rem;
  text-align: center;
  color: #23053a;

  margin: 1.4rem auto 6.3rem;

  max-width: 30.5rem;
}

main div {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 3.4rem;

  animation: downtop 600ms;
}

main div h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  background: #feeafa;

  border-radius: 2rem;

  width: 11.2rem;
  height: 3.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: #4a4e69;

  animation: topdown 400ms 300ms backwards ease-out;
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  50% {
    opacity: 0.3;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes topdown {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
